body{
    font-family: arial, helvetica, sans-serif; 
    font-size: 14px; 
    height: 100%; 
    margin: 0; 
}
header{
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row; 
    position: fixed;  
    z-index: 1;  
}
nav{
    width: 100%;
    height: 50px; 
    display: flex; 
    align-items: center; 
    padding-top: 6px; 
    padding-right: 15px; 
}
nav div{
    display: flex;
    width: 50%; 
    padding: 15px; 
    align-items: center; 
    font-size: 14px; 
}
nav div:nth-child(1){
    justify-content: start;
    padding-left: 15px; 
    padding-right: 15px;
}
nav div:nth-child(2){
    justify-content: flex-end;
    text-align: right;
    right: 0; 
    padding-right: 5px; 
}
nav div a{ 
    color: #222; 
    text-decoration: none; 
    padding: 5px; 
    white-space: nowrap;
}
a:hover{
    text-decoration: underline; 
    color: #222; 
}
.material-icons-outlined {
    font-size: 30px; 
}
.login{
    display: flex; 
    height: 22px;
    width: 22px; 
    border-radius: 50%; 
    background-color: rgb(120, 144, 156); 
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; 
    align-items: center; 
    justify-content: center; 
    color: white; 
    font-size: 14px;
}
.login:hover{
    text-decoration: none; 
    box-shadow: 0px 0px 0px 4px rgb(240, 240, 240); 
    background-color: rgb(120, 144, 156); 
    color: white; 
}
svg g{
    fill:rgb(120, 144, 156);
    stroke-width: .5;
}
.app-menu {
    width: auto;  
    scale: 0.3;  
    margin-right: 15px;
}
.app-menu:hover{
    text-decoration: none; 
    box-shadow: 0px 0px 0px 43x rgb(240, 240, 240); 
    border-radius: 50%;
<<<<<<< HEAD
    background-color:rgb(240,240,240); 
=======
>>>>>>> 736055a2ee81f29f967dc90cb1942704d69cb484
}
main {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    position: relative; 
    height: 42vw;  
}
.logo {   
    display: flex; 
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    object-position: center; 
    width: auto; 
    justify-content: center; 
}
search-wrapper {
    position: relative; 
    display: flex; 
    margin-top: 25px; 
}
button-wrapper {
    position: relative; 
    display: flex; 
    margin: auto; 
    justify-content: center; 
}
.searchbar {
    height: 40px;  
    width: 50vw;
    max-width: 584px; 
    border-radius: 25px;
    border: 1px solid #e4e4e4; 
    padding: 3px 8px 0 40px;  
}
.material-icons-outlined {
    font-size: 20px; 
}
.search-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-top:12px;
    margin-left: 13px;
    margin-right: 13px;
    opacity: .30;
}
.searchbar:hover, .searchbar:focus {
    border: none; 
    outline: none; 
    box-shadow: 0 3px 9px rgba(0,0,0,0.16);
}
.search-button {
    display:flex;
    background-color: #g4g4g4;
    border: none; 
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.743);
    font-size: 14px;
    margin-top: 30px;
    margin-right: 10px;
    padding: 6px 18px;
    line-height: 20px;
    height: 36px;
    width: auto;
    text-align: center;
    cursor: pointer;
}
.search-button:hover{
    border: 2px solid #e4e4e4;
}
footer {
    grid-area: footer; 
    width: 100%;
    background-color: rgb(240, 240, 240);
    bottom: 0; 
    margin: -5px; 
    position: fixed; 
    padding: 0 0 5px 15px; 
    border-top: 1px solid #e4e4e4; 
    font-size: 14px; 
}
footer .rhs {
    float: right; 
    margin-right: 30px; 
}
