body{
    font-family: arial, helvetica, sans-serif; 
    font-size: 12px; 
    height: 100%; 
    margin: 0; 
}
header{
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row; 
    position: fixed;  
    z-index: 1;  
}
nav{
    width: 100%;
    height: 50px; 
    display: flex; 
    align-items: center; 
    padding-top: 6px; 
    padding-right: 12px; 
}
nav div{
    display: flex;
    width: 50%; 
    padding: 10px; 
    align-items: center; 
    font-size: 14px; 
}
nav div:nth-child(1){
    justify-content: start;
}
nav div:nth-child(2){
    justify-content: flex-end;
    text-align: right;
    right: 0; 
    padding-right: 5px; 
    font-size: 12px; 
}
nav div a{ 
    color: #222; 
    text-decoration: none; 
    padding: 5px; 
    white-space: nowrap;
}
a:hover{
    text-decoration: underline; 
    color: #222; 
}
.material-icons-outlined {
    font-size: 30px; 
}
.login{
    display: flex; 
    height: 22px;
    width: 22px; 
    border-radius: 50%; 
    background-color: rgb(120, 144, 156); 
    top: 0; 
    bottom; 0;
    left: 0;
    right: 0;
    text-align: center; 
    align-items: center; 
    justify-content: center; 
    color: white; 
    font-size: 14px;
}
.login:hover{
    text-decoration: none; 
    box-shadow: 0px 0px 0px 4px rgb(240, 240, 240); 
    background-color: rgb(120, 144, 156); 
    color: white; 
}
.main {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    position: relative; 
    padding-top: 220px; 
}
.footer {
    width: 100%;
    height: 60px; 
    display: flex; 
    flex-direction: row;
}
.logo{   
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    object-position: center bottom; 
    width: auto; 
    justify-content: center; 
}